/*  ****************************************
  Base
  **************************************** */

body {
  background: beige;
  font-family: 'Lato', arial, sans-serif;
}

h1 {
  font-family: 'Taviraj', Georgia, serif;
}

p {
  margin-top: 0; 
}

/* Navigation bar */

nav ul { 
  padding-left: 0; 
  margin-left: 3px;
}

nav li { 
  display: inline-block; 
  margin-right: 20px;
}

nav a { 
  display: block; 
  padding: 0;
  font-size: 20px;
  color: #A0522D;
}


/*  ****************************************
  Layout 
  **************************************** */

#first {
  background:url("../images/uofr.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  width: 100%;  
}

#second {
  background-color: beige;
  color: #A0522D;
}

#second.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#title {
  text-align: center;
  line-height: 420px;
  text-shadow: 0.8px 0.8px;
  color: beige;
  font-weight: bold;
  font-size: 65px;
  margin-bottom: -177px;
}

#selfie {
  float: left;
  border: 3px solid #73AD21;
  padding: 8px;
  margin: 0;
  top: 20%;
  width: 28%;
}

#follow {
  text-align: center;
  text-shadow: 0.5px 0.5px;
  color: beige;
  font-size: 22px;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 960px; 
}

.contact { 
  color: #A0522D;
  padding: 70px 0;
  text-align: center;
}

/* Content */

.indroduction {
  margin: 0;
  position: absolute;
  top: 22%;
  left: 58%;
  transform: translate(-50%, -50%);
  color: beige;
}

.z-pattern {
  position:absolute;
  bottom:0;
  right:0;
  padding: 20px;
  background-color: beige;
  text-align: center;
  display: inline-block;
  float: right;
  margin-top: 10px;
  font-size: 2em;
}

#table {
  border: 100;
  align: top;
  overflow: auto;
  font-size: 20px;
}

#accomp {
  margin: 0;
  font-size: 40px;
}

.blank_row {
    height: 10px
    background-color: beige;
}

.accomplishments {
  max-width: 270px;
  max-height: 270px;
  padding: 15px;
}


/*  ****************************************
  Modules
  **************************************** */

.active {
  background-color: #ffa07a;
  text-align: center;
  display: inline-block;
}

/* Persistent footer */
footer {
  position: absolute;
  background-color: beige;
  text-align: left; 
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0; 
  left: 2px; 
  color: #A0522D;
}


/*	*************************************
	State
	************************************* */

#currentPage a { 
	color: beige;
	background-color: brown;
 }


/*  ****************************************
  JavaScript Plugin FlexSlider
  **************************************** */

.flexlink {
  padding: 20px;
  background-color: beige;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}

/* Codes from cdnjs.cloudflare.com */

.flexslider {
  background-color: beige;
  width: 80%;
  left: 10%;
  box-shadow: none;
}

.flex-direction-nav {
  position: absolute;
  top: 0;
  left: 30px;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #333;
  margin: -20px 0 0;
  position: absolute;
  top: 50px;
  z-index: 10;
  overflow: hidden;
  opacity: .5;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
  text-align: left;
  left: -10px;
}

.flex-direction-nav .flex-next {
  text-align: right;
  left: 30px;
}